/* Couleurs */
$main-color: #005eb5;

/* Selecteurs de bases*/
a{
	text-decoration: none;
	color: $main-color;
}

/* Contnairs */
.pane, .view {
    /*padding-top: 44px;*/
}

.btn-link{
	padding: 4px 9px;
	background: $main-color;
	color: #ffffff !important;
}

.clear{
	clear: both;
	width:100%;
}