@import "../../node_modules/ionic-sdk/scss/ionic.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

@import "../../bower_components/famous-angular/dist/famous-angular";  
  


@import "../../node_modules/angular-material/angular-material";


.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.full-height,
.full-height .fa-surface {
    height: 100%
}

.full-width,
.full-width .fa-surface {
    width: 100%
}
