.themes{
	.item-complex, a.item.item-complex, button.item.item-complex{
		width: 100%;
		height: 0;
		padding-bottom: 50%;
		border: 0;
	}
	.content-theme{
		
		a{
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 50%;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			span{
				color: #ffffff;
				position: absolute;
				z-index: 2;
				font-size: 22px;
				text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
			}
		}
	}

}