.venues-details{
	.wrap{
		padding: 0 10px;
		h1{
			font-size: 26px;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
			margin: 10px 0;
		}
		h3{
			padding: 10px 0 7px 0;
			margin:0;
		}
		.rating{
			width: 100%;
			background: url('../images/app/venues-details/rates.png') no-repeat;
			margin-bottom: 10px;
			li{
				display: inline-block;
				svg{
					fill: $main-color;
				}

			}
		}

		md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style{
			padding: 10px 0;
		}
	}
	.horaires{
		width: 100%;
		margin: 20px 0;
		tr{
			&:first-child{
				background: #3c3c3c;
				color: #ffffff;
			}
		}
		td{
			border: 1px solid #3c3c3c;
			padding: 9px 30px;
		}
	}
}