<ion-view view-title="{{ venueCtrl.venue.name }}" cache-view="false" class="venues-details">
    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-view>
                <ion-content>
                    <img ng-src="https://irs0.4sqi.net/img/general/400x200{{ venueCtrl.venue.bestPhoto.suffix }}" alt="{{ venueCtrl.venue.name }}">
                    <span style="font-size:40px; color:red; cursor:pointer; position:relative; right:50px; bottom: 10px" ng-class="venueCtrl.isLiked ? 'ion-ios-heart' : 'ion-ios-heart-outline'" ng-click="venueCtrl.like(venueCtrl.venue)"></span>
                    <div class="wrap">
                        <h1>{{ venueCtrl.venue.name }}</h1>

                        <ul class="rating">
                            <li ng-repeat="note in venueCtrl.venue.ratingTab track by $index">
                                <ng-md-icon icon="grade"  size="20"></ng-md-icon>
                            </li>
                        </ul>

                        <p>{{ venueCtrl.venue.description }}</p>

                        <h3>Contacts</h3>
                        <p>
                            Adresse :
                            {{ venueCtrl.venue.location.address }}, {{ venueCtrl.venue.location.postalCode }} {{ venueCtrl.venue.location.city }} </p>
                        <p>
                            Téléphone :
                            {{ venueCtrl.venue.contact.formattedPhone }}
                        </p>
                        <a ng-if="venueCtrl.venue.url" href="{{ venueCtrl.venue.url}}" target="_blank"> Voir le site web</a>

                        <h3>Ouvertures</h3>
                        <table class="horaires">
                            <tr>
                                <td>Jour</td>
                                <td>Horaires</td>
                            </tr>

                            <tr ng-repeat="day in venueCtrl.venue.jour">

                                   <td ng-if="day.days == 'Aujourd\'hui'">
                                        <b>{{day.days}}</b>
                                    </td>
                                    <td ng-if="day.days == 'Aujourd\'hui'">
                                        <b>{{day.horaire}}</b>
                                    </td>

                                    <td ng-if="day.days != 'Aujourd\'hui'">
                                        {{day.days}}
                                    </td>
                                    <td ng-if="day.days != 'Aujourd\'hui'">
                                        {{day.horaire}}
                                    </td>
                            </tr>
                        </table>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-view>
                <ion-content>
                    <leaflet center="venueCtrl.center" layers="venueCtrl.layers" markers="venueCtrl.markers" width="100%" height="500px"></leaflet>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Settings" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
            <ion-view>
                <ion-content>
                    <img ng-src="https://irs0.4sqi.net/img/general/400x200{{ venueCtrl.venue.bestPhoto.suffix }}" alt="{{ venueCtrl.venue.name }}">
                    <md-list>
                        <md-list-item ng-repeat="liker in venueCtrl.likers">
                            {{ liker.name }}
                            <button ng-click="venueCtrl.createRoom(liker)">Chatter</button>
                        </md-list-item>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>


