<ion-view view-title="{{ venueCtrl.venue.name }}" cache-view="false">
    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-view>
                <ion-content class="venues-details">
                    <img ng-src="https://irs0.4sqi.net/img/general/400x200{{ venueCtrl.venue.bestPhoto.suffix }}" alt="{{ venueCtrl.venue.name }}">
                    <div class="wrap">
                         <h1>{{ venueCtrl.venue.name }}</h1>
                          
                        <ul class="rating">
                            <li ng-repeat="note in venueCtrl.venue.ratingTab track by $index">
                                <ng-md-icon icon="grade" style="fill:#{{ venueCtrl.venue.ratingColor }}" size="20"></ng-md-icon>
                            </li>
                        </ul>

                        <p>{{ venueCtrl.venue.description }}</p>

                        <h3>Contacts</h3>
                        <p> 
                            Adresse : 
                            {{ venueCtrl.venue.location.address }}, {{ venueCtrl.venue.location.postalCode }} {{ venueCtrl.venue.location.city }} </p>
                        <p>
                            Téléphone :
                            {{ venueCtrl.venue.contact.formattedPhone }}
                        </p>
                        <a ng-if="venueCtrl.venue.url" href="{{ venueCtrl.venue.url}}" target="_blank"> Voir le site web</a>

                        <h3>Ouvertures</h3>
                        <table class="horaires">
                            <tr>
                                <td>Jour</td>
                                <td>Horaires</td>
                            </tr>
                            <tr ng-repeat="day in venueCtrl.venue.days">
                                <td>{{day.name}}</td>
                                <td>{{day.horaire}}</td>
                            </tr>
                        </table>
                        <!-- 
                        <md-button class="md-raised md-primary" ng-click="venueCtrl.takePicture()">En savoir plus</md-button>
                        -->
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-view>
                <ion-content>
                    <img ng-src="https://irs0.4sqi.net/img/general/300x200{{ venueCtrl.venue.bestPhoto.suffix }}" alt="{{ venueCtrl.venue.name }}">
                    <h1>{{ venueCtrl.venue.name }}</h1>
                    
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <!-- Tab 3 content -->
        </ion-tab>
    </ion-tabs>
</ion-view>


