<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Identification</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fermer</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="uEmail" ng-model="user.email" required>
        </label>
        <div ng-show="loginForm.$submitted || loginForm.uEmail.$touched">
            <div ng-show="loginForm.uEmail.$error.required">Veuillez renseigner votre email.</div>
        </div>
        <label class="item item-input">
          <span class="input-label">Mot de Passe</span>
          <input type="password" name="uPassword" ng-model="user.password" required>
        </label>
        <div ng-show="loginForm.$submitted || loginForm.uPassword.$touched">
            <div ng-show="loginForm.uPassword.$error.required">Veuillez renseigner votre mot de passe.</div>
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">S'identifier</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
