<ion-view view-title="Profile">
    <ion-content view-title="Bonjour {{ user.name }}" class="profile" >
       	<div class="wrap-picture">
        	<img ng-show="user.photo"  ng-src="{{user.photo}}" alt="{{ user.name }}" />
        	<img src="./images/app/profile/filtre.png" alt="filtre" class="filtre" />
       		<div class="wrap-links">
       			<a href="javascript:;" ng-click="takePhoto('upload')"><ng-md-icon class="icons" icon="insert_photo" size="20"></ng-md-icon> Télécharger une image </a>
       			<a href="javascript:;" ng-click="takePhoto()" ><ng-md-icon class="icons" icon="aspect_ratio" size="20"></ng-md-icon> Prendre une photo </a>
       		</div>
       	</div>
       	<div class="wrap-infos">
	        <br>
	        <b>Nom</b>
	        <input type="text" placeholder="user.name" ng-model="user.name">

	        <br>
	        <b>Âge</b>
	        <input type="text" placeholder="{{user.age ? user.age : 'Votre age'}}" ng-model="user.age">
	        
	        <br>
			<b>Langue</b>
	        <input type="text" placeholder="{{user.langue ? user.langue : 'Votre langue'}}" ng-model="user.langue">

	        <br>
	        <b>Emploie et Etudes</b>
	        <input type="text" placeholder="{{user.emploie ? user.emploie : 'Que faîtes vous dans la vie ? ...'}}" ng-model="user.emploie">

			<br>
	        <b>Status</b>
	        <input type="text" placeholder="{{user.status ? user.status : 'Votre status'}}" ng-model="user.status">
	        
	        <br>
			<b>A propos de moi</b>
	        <textarea ng-model="user.description" placeholder="{{user.description ? user.description : 'Racontez-vous'}}" >Message: {{ user.description }}</textarea>

	        <br>
	        <a href="javascript:;" ng-click="profileCtrl.addInfo()">Enregistrer</a>
       	</div>
    </ion-content>
</ion-view>
