<ion-view view-title="Création de compte" class="subscription">
    <ion-content>
        <img src="./images/app/generics/logo.png" id="logo">
          


        <form name="form" no-validate ng-submit="form.$valid && signupCtrl.registerUser(user)">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nom</label>
                    <input ng-model="user.name" name="uName" type="text" required>
                    <div ng-show="form.$submitted || form.uName.$touched">
                        <div ng-show="form.uName.$error.required" class="msg-error">
                            Veuillez remplir votre nom.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>E-mail</label>
                    <input ng-model="user.email" name="uEmail" type="email" required>
                    <div ng-show="form.$submitted || form.uEmail.$touched">
                        <div ng-show="form.uEmail.$error.required" class="msg-error">
                            Veuillez indiquer votre email.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Mot de passe</label>
                    <input ng-model="user.password" name="uPassword" type="password" required>
                    <div ng-show="form.$submitted || form.uPassword.$touched">
                        <div ng-show="form.uPassword.$error.required" class="msg-error">
                            Veuillez indiquer un mot de passe.
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-button type="submit" class="md-raised md-primary subscription-btn"> Inscription </ng-md-icon ></md-button>

        </form>
    </ion-content>
</ion-view>
