<ion-view view-title="Conversation">
    <ion-content>
      <md-list-item class="md-3-line" ng-repeat="message in roomCtrl.messages">
        <img ng-src="" class="md-avatar" alt="" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ message.name }}</h3>
          <p>{{ message.message }}</p>
          <span am-time-ago="{{ message.date }}"></span>
          <span>{{message.date | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</span>
        </div>
      </md-list-item>
    </md-list>
    <form ng-submit="roomCtrl.addMessage()">
      <input ng-model="roomCtrl.newMessage" />
      <button type="submit">Envoyer</button>
    </form>
    </ion-content>
</ion-view>
